@page
@model PDFMenu.Pages.Features.NormalUsers.SignUpModel
@{
}

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
 <link rel="stylesheet" href="~/css/NormalUSers/SignUp.css" />
  <header>
    <div style="display: flex; align-items: center;">
 <img src="~/Images/logo.png" alt="Logo" width="100" height="60" class="float-start">
      <div class="DineDocs">
        <p>DineDocs</p>
      </div>
    </div>
  </header>

  <div class="container">
    <h2>Sign Up</h2>
     <div class="separator"></div>
    <form method="post">
      <div class="form-row">
        <div class="form-group">
          <label for="Email">Email</label>
          <input type="email" id="Email" name="Email" required>
        </div>
        <div class="form-group">
          <label for="PhoneNumber">PhoneNumber</label>
          <input type="text" id="PhoneNumber" name="PhoneNumber" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="Password">Password:</label>
          <input type="password" id="Password" name="Password" required>
        </div>

        <div class="form-group">
          <label for="PasswordConfirmation">Password Confirmation</label>
          <input type="password" id="PasswordConfirmation" name="PasswordConfirmation" required>
        </div>
      </div>
      <div class="separator"></div>

      <div class="form-row">
        <div class="form-group">
          <label for="Restaurant">Restaurant</label>
          <input type="text" id="Restaurant" name="Restaurant" required>
        </div>
        <div class="form-group">
          <label for="Facebook">Facebook</label>
          <input type="text" id="Facebook" name="Facebook">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="Instagram">Instagram:</label>
          <input type="text" id="Instagram" name="Instagram">
        </div>

        <div class="form-group">
          <label for="Twitter">Twitter</label>
          <input type="text" id="Twitter" name="Twitter">
        </div>
      </div>
      <div class="separator"></div>
<div class="form-row">
  <div class="form-group">
    <select id="Country" name="Country" onchange="updateCities()">
      <option value="">Country</option>
      @foreach (var country in Model.Countries)
      {
        <option value="@country">@country</option>
      }
    </select>
  </div>

 <div class="form-group">
    <select id="City" name="City" onchange="updateDistricts()">
      <option value="">City</option>
    </select>
  </div>
     </div>  
     
      <div class="form-row">
        <div class="form-group">
          <select id="District" name="District">
            <option value="">District</option>
            @foreach (var country in Model.Districts)
            {
            <option value="@country">@country</option>
            }
          </select>
        </div>
<script>
function updateCities() {
  var country = document.getElementById("Country").value;
  var cities = getCitiesForCountry(country);
  var citySelect = document.getElementById("City");
  
  citySelect.innerHTML = "";
  
  for (var i = 0; i < cities.length; i++) {
    var option = document.createElement("option");
    option.text = cities[i];
    option.value = cities[i];
    citySelect.add(option);
  }
}

function updateDistricts() {
  var country = document.getElementById("Country").value;
  var city = document.getElementById("City").value;
  var districts = getDistrictsForCity(country, city);
  var districtSelect = document.getElementById("District");
  
  districtSelect.innerHTML = "";

  for (var i = 0; i < districts.length; i++) {
    var option = document.createElement("option");
    option.text = districts[i];
    option.value = districts[i];
    districtSelect.add(option);
  }
}
function getCitiesForCountry(country) {
 
  var cityDict = {
    "Algeria": ["Algiers", "Oran", "Constantine"],
    "Angola": ["Luanda", "Huambo", "Lobito"],
    "Benin": ["Cotonou", "Porto-Novo", "Parakou"],
    "Botswana": ["Gaborone", "Francistown", "Molepolole"],
    "Burkina Faso": ["Ouagadougou", "Bobo-Dioulasso", "Koudougou"],
    "Burundi": ["Bujumbura", "Gitega", "Ngozi"],
    "Cameroon": ["Yaounde", "Douala", "Bamenda"],
    "Cape Verde": ["Praia", "Mindelo", "Santa Maria"],
    "Central African Republic": ["Bangui", "Bimbo", "Berberati"],
    "Chad": ["N'Djamena", "Moundou", "Sarh"],
    "Comoros": ["Moroni", "Moutsamoudou", "Fomboni"],
    "Democratic Republic of the Congo": ["Kinshasa", "Lubumbashi", "Mbuji-Mayi"],
    "Djibouti": ["Djibouti City", "Ali Sabieh", "Tadjoura"],
    "Egypt": ["Cairo", "Alexandria", "Giza","Aswan","Luxor","Tanta","Banisuef","Hurgada"],
   
  };
  
 
  return cityDict[country] || [];
}
function getDistrictsForCity(country, city) {
  var districtDict = {
   
    "Cairo": ["Nasr City", "Heliopolis", "Maadi","Helwan","Shobra","Sheraton"],
    
     };
  return districtDict[city] || [];
}
</script>
     

        <div class="form-group">
          <label for="Address">Address</label>
          <input type="text" id="Address" name="Address">
        </div>
      </div>

      <div class="separator"></div>

      <input type="submit" value="Sign Up">
    </form>

    <div class="popup" @(Model.hide ? "" : "hidden")>
      <div class="popup-content">
        <button class="close" onclick="redirectToLoginPage()">X</button>
        <p>Please check your Gmail for confirmation then 
            redirect to logging in</p>
            <p>Welcome to DineDocs :)</p>
      </div>
    </div>
  </div>

  <script>
    function redirectToLoginPage() {
      window.location.href = '/Features/NormalUsers/Login';
    }
  </script>
  </div>


