@page
@model PDFMenu.Pages.Features.NormalUsers.SignUpModel
@{
}

<body>
  <header>
    <div style="display: flex; align-items: center;">
      <img src="~/Images/logo.png" alt="Logo" width="100" height="60" style="margin-right: 10px;">
      <div class="DineDocs">
        <p>DineDocs</p>
      </div>
    </div>
  </header>

  <div class="container">
    <h2>Sign Up</h2>
     <div class="separator"></div>
    <form method="post">
      <div class="form-row">
        <div class="form-group">
          <label for="Email">Email</label>
          <input type="email" id="Email" name="Email" required>
        </div>
        <div class="form-group">
          <label for="PhoneNumber">PhoneNumber</label>
          <input type="text" id="PhoneNumber" name="PhoneNumber" required>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="Password">Password:</label>
          <input type="password" id="Password" name="Password" required>
        </div>

        <div class="form-group">
          <label for="PasswordConfirmation">Password Confirmation</label>
          <input type="password" id="PasswordConfirmation" name="PasswordConfirmation" required>
        </div>
      </div>
      <div class="separator"></div>

      <div class="form-row">
        <div class="form-group">
          <label for="Restaurant">Restaurant</label>
          <input type="text" id="Restaurant" name="Restaurant" required>
        </div>
        <div class="form-group">
          <label for="Facebook">Facebook</label>
          <input type="text" id="Facebook" name="Facebook">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <label for="Instagram">Instagram:</label>
          <input type="text" id="Instagram" name="Instagram">
        </div>

        <div class="form-group">
          <label for="Twitter">Twitter</label>
          <input type="text" id="Twitter" name="Twitter">
        </div>
      </div>
      <div class="separator"></div>
      <div class="form-row">
        <div class="form-group">
          <select id="Country" name="Country">
            <option value="">Country</option>
            @foreach (var country in Model.Countries)
            {
            <option value="@country">@country</option>
            }
          </select>
        </div>

        <div class="form-group">
          <select id="City" name="City">
            <option value="">City</option>
            @foreach (var country in Model.Countries)
            {
            <option value="@country">@country</option>
            }
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <select id="District" name="District">
            <option value="">District</option>
            @foreach (var country in Model.Countries)
            {
            <option value="@country">@country</option>
            }
          </select>
        </div>

        <div class="form-group">
          <label for="Address">Address</label>
          <input type="text" id="Address" name="Address">
        </div>
      </div>

      <div class="separator"></div>

      <input type="submit" value="Sign Up">
    </form>

    <div class="popup" @(Model.hide ? "" : "hidden")>
      <div class="popup-content">
        <button class="close" onclick="redirectToLoginPage()">X</button>
        <p>Please check your Gmail for confirmation then 
            redirect to logging in</p>
            <p>Welcome to DineDocs :)</p>
      </div>
    </div>
  </div>

  <script>
    function redirectToLoginPage() {
      window.location.href = '/Features/NormalUsers/Login';
    }
  </script>
  </div>
</body>

<style>
  body {
    background-color: #f4f4f8;
  }

  header {
    background-color: #fdbf50;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .DineDocs {
    white-space: normal;
    text-align: left;
    word-break: break-all;
    font-weight: bold;
    font-size: xx-large;
    margin-top: 10px;
    color: #2a2c41;
  }

  .container {
    background-color: #2a2c41;
    margin: 50px auto 40px;
    width: 50%;
    border-radius: 20px;
    padding: 50px;
  }

  h2 {
    color: #f4f4f8;
  }

  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-group {
    width: 48%;
  }

   .popup {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.popup-content {
  background-color: #f4f4f8;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

.close {
  color: #2a2c41;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}


  .separator {
    height: 20px;
  }

  label {
    color: #f4f4f8;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type=email],
  input[type=password] {
    background-color: #2a2c41;
    border-radius: 20px;
    border: 1px solid #f4f4f8;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
  }

  select {
    font-size: 16px;
    padding: 12px;
    border: 1px solid #f4f4f8;
    border-radius: 4px;
    background-color: #f4f4f8;
    box-sizing: border-box;
    margin-top: 6px;
    width: 100%;
    font-weight: bold;
  }

  input[type="submit"] {
    padding: 10px;
    margin: 10px auto;
    border-radius: 20px;
    background-color: #fdbf50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
</style>